
.welcometoTightlyB{
  font-size:20px;
  color: red;
  max-width: 600px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
  font-size:20px;
  font-family: Georgia, Serif;
  margin: 0 auto;
  margin-top: 400px;
	height: 125px;
	clear:both;
  padding-left:4px; /*TODO edit this */

}

.oauthLogin {
  font-size:17px;
  padding: 1px;

}
/*TODO */
.header {
  font-size:20px;
  color: red;
  max-width: 600px;
  margin: 0 auto;

}
.navigationBar {
  font-size:20px;
  margin: 0 auto;

}
.mainSection {
  font-size:20px;
  margin: 0 auto;
  padding-left: 500px;
}
.mainText {
  /*
  font-size:20px;
  color: red;
  max-width: 600px;
  margin: 0 auto;

          */
}
