doctype html
html
  head
   style
    include ./public/css/styles.css
  title= "tightlyB"
body

.header
 h1
 .welcometoTightlyB
   |Your login failed,check your logging in correctly and retry.
 .navigationBar
  .oauthLogin
  |<a href="/auth/google">Log In with Google</a>

 .mainSection
  .mainText
   |

 .footer
  |made by dave911d and calesce
