doctype html
html
  head
   style
    include ./public/css/styles.css
  title= "tightlyB"
body

.header
 h1
 .welcometoTightlyB
   |Welcome to TightlyB - be part of something
 .navigationBar
  .oauthLogin
  |<a href="/auth/google">Log In with google</a>

 .mainSection
  .mainText
   |filler text filler text

 .footer
  |made by David Johns
