doctype html
html
  head
   style
    include ./public/css/styles.css
  title= "tightlyB"
body

.header
 h1
 .welcometoTightlyB
   |Welcome to TightlyB - be part of something
.navigationBar
 .oauthLogin
  |<a href="/auth/google">Login with Google</a><br>
  |<a href="/auth/twitter">Login with Twitter</a>

.mainSection
 .mainText
   |print here if the user is logged in
.footer
   |made by dave911d and calesce
