
doctype html
html
block vars
    head


    style
      include ./public/css/styles.css
    title= "tightlyB"


    body
    .welcometoTightlyB
     |Welcome to tightlyB - be part of something
     login :

     .oauthLogin
      <a href="/auth/google">Log In with google</a>


  footer
  #footertext
  |Made by David Johns- Open source
